.zoomer {
  display: flex;

  align-items: center;
}

.control {
  cursor: pointer;
}

.scale {
  position: relative;
  width: 150px;
  height: 8px;

  margin: 0 5px;
}

.scale {
  border: 1px solid lightgray;
}

.progress {
  width: 100%;
  height: 100%;

  background-color: lightblue;
}
