.App {
  width: 100%;
  height: 100%;

  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.zoomableContainer {
  position: relative;

  padding-top: 10px;
}

.colorArea {
  width: 100%;
  height: 100%;

  fill: #61dafb;
  stroke: black;
}

.points {
  width: 100%;
  height: 100%;
}
